<html>

    <head>
        <%- include('partials/head') %>
        <title>Registro</title>
    </head>

    <body>

        <%- include('partials/navbar') %>

            <div class="content">
                <%- include('partials/header') %>

                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-4">
                            <form class="login-form" action="/registrarNuevoUsuario" method="POST">
                                <h2 class="text-center mb-4">Registrarme</h2>
                                <% if (mensajeError) { %>
                                    <div class="alert alert-danger" role="alert">
                                        <%= mensajeError %>
                                      </div>
                                  <% } %>
                                <div class="form-group">
                                    <label for="username">Nombre de usuario</label>
                                    <input type="text" id="username" name="username" class="form-control" placeholder="Introduce tu nombre de usuario" required>
                                </div>
                                <div class="form-group">
                                    <label for="password">Contraseña</label>
                                    <input type="password" id="password" name="password" class="form-control" placeholder="Introduce tu contraseña" required>
                                </div>
                                <div class="form-group">
                                    <label for="username">Nombre</label>
                                    <input type="text" id="firstname" name="firstname" class="form-control" placeholder="Introduce tu nombre" required>
                                </div>
                                <div class="form-group">
                                    <label for="username">Apellidos</label>
                                    <input type="text" id="lastname" name="lastname" class="form-control" placeholder="Introduce tus apellidos" required>
                                </div>
                                <div class="form-group">
                                    <label for="username">Email</label>
                                    <input type="text" id="email" name="email" class="form-control" placeholder="Introduce tu email" required>
                                </div>
                                <div class="form-group">
                                    <input type="submit" value="Registrarme" class="btn btn-primary btn-block">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>  

            </div>

        <%- include('partials/footer') %>

    </body>

</html>